.titulo {
  padding: 30px;
  background-color: rgb(37, 37, 37);
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

.texts {
  color: white;
  padding: 50px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: rgb(63, 63, 63);
  font-size: 20px;
}
