<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albums</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='albums.css') }}"
    />
  </head>
  <body>
    <h1 class="titulo">Albums</h1>
    <ul>
      {% for album in albums %}
      <ul class="texts">
        {{ album['titulo'] }} (Lanzado: {{ album['Año_lanzamiento'] }})
      </ul>
      {% else %}
      <li class="texts">No hay albums disponibles.</li>
      {% endfor %}
    </ul>
    <br />
    <a href="/">Volver al inicio</a>
  </body>
</html>
