<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Artistas</h1>
    <ul>
        {% for artista in artistas %}
            <li>{{ artista['nombre'] }} (Género: {{ artista['genero'] }})</li>
        {% else %}
            <li>No hay artistas disponibles.</li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>
