<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Música</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la API de Música</h1>
    </header>
    <nav>
        <div class="centrar">
            <div class="cuadrado">
                <a class="texto" href="/albums">Ver Albums</a>
            </div>
            <div class="cuadrado">
                <a class="texto" href="/artistas">Ver Artistas</a>
            </div>
            <div class="cuadrado">
                <a class="texto" href="/canciones">Ver Canciones</a>
            </div>
            <div class="cuadrado">
                <a class="texto" href="/miembros">Ver Miembros</a>
            </div>
            <div class="cuadrado">
                <a class="texto" href="/roles">Ver Roles</a>
            </div>
        </div>
        
        

    </nav>
</body>
</html>
